<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Theatre</title>
</head>
<body>
    <form action="{% url 'occupy' %}" method="POST">
        {% csrf_token %}
        <label for="occupy">Occupy seat
            <input type="text" name="occupy_name">
            <input type="text" name="occupy_ticketID">
            <button type="submit" name="occupy">Book seat</button>
        </label>
        <br>
        <hr>
    </form>
{#    <form action="{% url 'vacate' %}" method="POST">#}
{#        <label for="vacate">Vacate seat#}
{#            <input type="number" name="vacate_seat">#}
{#            <button type="submit" name="vacate">Vacate seat</button>#}
{#        </label>#}
{#        <br>#}
{#        <hr>#}
{#    </form>#}
{#    <form action="{% url 'info' %}">#}
{#        <label for="info">Get seat info#}
{#            <input type="text" name="info_name">#}
{#            <input type="text" name="info_ticketID">#}
{#            <input type="number" name="info_seat">#}
{#            <button type="submit" name="info">Get seat info</button>#}
{#        </label>#}
{#        <br>#}
{#        <br>#}
{#    </form>#}
</body>
</html>